body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
div{
    border-image: url(./task4img.jpg) 60 60 60 60/60px 60px 60px 60px;
    color: white;
    padding-left: 50px;
    width: 300px;
}